<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Comics Book</title>
    <meta charset="utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
  </head>
  <body>
    <div id="container">
      <header>
        <a class="logo" href="#">
            <img src="img/logo.png"/>
        </a>
        <nav>
          <ul>
            <li><a class="nav-font" href="#news">News</a></li>
            <li><a class="nav-font" href="#about">About</a></li>
            <li><a class="nav-font" href="#photo">Photo</a></li>
            <li><a class="nav-font" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </header>
      
      <div class="slider">
        <img src="img/special_offer_pic.png"/>
      </div>
      
      <section class="about">
        <h1 class="title">About!</h1>
        <div class="about-text">
          <p class="line">If you want to find some comics,</p>
          <p class="line">but you can’t find anything you need</p>
          <p class="line">near your house or at internet shops.</p>        
          <p class="line catchword">We’ll do it instead of you!</p>
          
          <p>How does it works?</p>
        </div>
        <div class="superheroes">
          <div class="superhero">
            <h3 class="superwords">You ask</h3>
            <img src="img/ask.png"/>
          </div>
          <div class="superhero">
            <h3 class="superwords">We find</h3>
            <img src="img/find.png"/>
          </div>
          <div class="superhero">
            <h3 class="superwords">And deliver!</h3>
            <img src="img/deliver.png"/>
          </div>
        </div>
      </section>
      
      <section>
        <h1 class="title">Advantages!</h1>
        <div class="advantage">
          <img src="img/wallet.png"/>
          <p class="advantage-text">We have some special offers and bundles every week!</p>
        </div>
        <div class="advantage">
          <img src="img/clock.png"/>
          <p class="advantage-text">We save your time! Cause we do our job  fast and well!</p>
        </div>
        <div class="advantage">
          <img src="img/earth.png"/>
          <p class="advantage-text">We can deliver your order  anywhere in the world!</p>
        </div>
      </section>
      
      <section>
        <h1 class="title">Photo!</h1>
      </section>
      
      <section>
        <h1 class="title">Clients about us!</h1>
        <div class="client">
          <img src="img/dind_oswald.png"/>
          <div class="client-caption">
            <p class="client-comment">"Such a pretty resource!"</p>
            <p class="client-name">Dind Oswald</p>
            <p class="client-country">Finland</p>
          </div>
        </div>
        <div class="client">
          <img src="img/tisha_harms.png"/>
          <div class="client-caption">
            <p class="client-comment">"They found everything I wanted! Just presented geeky pack to my boyfriend! Yay"</p>
            <p class="client-name">Tisha Harms</p>
            <p class="client-country">USA</p>
          </div>
        </div>
        <div class="client">
          <img src="img/sasha_petrecky.png"/>
          <div class="client-caption">
            <p class="client-comment">"They have even a yaoi manga!"</p>
            <p class="client-name">Sasha Petrecky</p>
            <p class="client-country">Russia</p>
          </div>
        </div>
      </section>
      
      <section>
        <h1 class="title">Get in touch!</h1>
        <div>
          <form class="form">
            <input class="form-text" placeholder="Your name" type="text"/>
            <input class="form-text" placeholder="Your email" type="text"/>
            <textarea class="form-area" placeholder="Your message"></textarea>
            <button class="form-button">Send</button>
          </form>
        </div>
        <div>
          <p class="form-description">There you can write which comics do you want to find.</p>
          <p class="form-description">We’ll contact you in one day</p>
          <p class="form-description">to discuss details.</p>
          <p class="address">1600 Pensylwania Ave NW, Washington,DC 20500,United States of America</p>
          <p class="address">T:(345) 234-6666</p>
          <p class="address">T:(345) 233-6656</p>
        </div>
      </section>

      <footer>
        <a class="logo" href="#">
          <img src="img/logo.png"/>
        </a>
        <nav>
          <ul>
            <li><a class="nav-font" href="#facebook">Faceboook</a></li>
            <li><a class="nav-font" href="#twitter">Twitter</a></li>
          </ul>
        </nav>
        <div class="copyright">
          <p>&copy; 2014 Eveeveline. All rights Reserved.<span><a href="#up">^</a></span></p>
        </div>
      </footer>
    </div>
  </body>
</html>